body {
    background-image: url("sun-pattern.png");
}
footer {
    padding: 30px 0;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}
h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    margin-bottom: 20px;
}
p {
    color: #999;
}
.profilePic {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 25px;
}
imgTag {
    padding-left: 10px;
    float: right;
}
header {
    padding-bottom: 20px;  
}
.nameHeader {
    background: #4aaaa5;
    color: #fff;
    width: 300px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
}
#mainHeader {
    background: #fff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 75px;
    padding-bottom: 0;
}
section {
    margin: 0 0 20px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 30px;
}
.nav-item {
    padding: 10px;
}
ul li a {
    color: #999;
}
.nav-item {
    color: #999;
}
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.nav-item {
    padding-top: 0px;
    padding-bottom: 0px;
}
nav ul li {
    border-left: 1px solid #efefef;
}
nav ul li:first-child {
    border-left: 0 none;
}